[data-role="page"]#page_home{
    /*background: -moz-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(153,218,255,1))); 
    background: -webkit-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); 
    background: -o-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); 
    background: -ms-linear-gradient(90deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); 
    background: linear-gradient(0deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#99DAFF',GradientType=0 );*/
    
    background: -moz-linear-gradient(90deg, rgba(176,241,255,1) 0%, rgba(0,128,128,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,128,128,1)), color-stop(100%, rgba(176,241,255,1)));
background: -webkit-linear-gradient(90deg, rgba(176,241,255,1) 0%, rgba(0,128,128,1) 100%); 
background: -o-linear-gradient(90deg, rgba(176,241,255,1) 0%, rgba(0,128,128,1) 100%);
background: -ms-linear-gradient(90deg, rgba(176,241,255,1) 0%, rgba(0,128,128,1) 100%);
background: linear-gradient(0deg, rgba(176,241,255,1) 0%, rgba(0,128,128,1) 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#30FFE0',GradientType=0 ); 
}

[data-role="page"]#page_home [data-role="content"] img {
    margin: 40px auto 50px auto;   
}

[data-role="header"] {
    border: 0px;
    margin-top:0px;
}


[data-role="content"] button.menu, [data-role="content"] button.menu:not( :hover ),  [data-role="content"] button.menu:hover {
    margin: 0px 0px 20px 0px;
    height: 70px;
    border:none;
    border-left:none;
    border-right:none;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-top: 3px solid black;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000), to(transparent));
  background-image: -webkit-linear-gradient(#000, transparent);
  background-image:
      -moz-linear-gradient(#000, transparent),
      -moz-linear-gradient(#000, transparent);
  background-image:
      -o-linear-gradient(#000, transparent),
      -o-linear-gradient(#000, transparent);
  background-image: 
      linear-gradient(#000, transparent),
      linear-gradient(#000, transparent);
  -moz-background-size: 3px 100%;
  background-size: 3px 100%;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat; 
    
    font-family: 'Enriqueta', arial, serif; 
    line-height: 1.25; 
    margin: 0 0 10px; 
    font-size: 20px; 
    font-weight: bold;
    text-shadow: none;
}

[data-role="page"]#page_plants [data-role="header"], [data-role="page"]#page_scan [data-role="header"], 
[data-role="page"]#page_details [data-role="header"], [data-role="page"]#page_about [data-role="header"]{
    background-color: #008080;
    height: 40px;
}

[data-role="page"]#page_plants [data-role="header"] h1, [data-role="page"]#page_scan [data-role="header"] h1, 
[data-role="page"]#page_details [data-role="header"] h1, [data-role="page"]#page_about [data-role="header"] h1 {
    color: white;
    font-weight: bold;
    text-shadow: none;
}

div [data-role="page"] a.menu_button, div [data-role="page"] a.menu_button:not( :hover ),  div [data-role="page"] a.menu_button:hover {
    background: transparent;
    border:none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: none;
    padding: 0px 0px 0px 10px;
    box-shadow: none;
    color:white;
    vertical-align: middle;
    background-color: transparent;
    border-color: transparent;
}

div.plant {
    height:82px;
    border-top: 1px dotted #008080;
    border-bottom: 1px dotted #008080;
    background-color: #EDEDED;
    margin-bottom: 10px;
    vertical-align:middle;
    overflow: hidden;
}

.plant_photo{
    float: left;
    padding: 5px;
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
} 

div.plant img{
    vertical-align: middle;
    max-height: 70px;
    max-width: 70px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.plant_details {
    padding: 5px;  
    height:70px;
    overflow: hidden;
    color: black;
    line-height: 1.2em;
    font-weight:normal;
}

.plant_details p {
    margin-bottom: 4px;
}

[data-role="content"] a {
    text-decoration: none;
}


#main-menu-panel h2{
    color: #008080;
    margin-top:4px;
}

#main-menu-panel a, #main-menu-panel a:hover{
    color: black;
    text-decoration: none;
}

#main-menu-panel li {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}